.login-section{
  // background: url("./assets/img/login-img-background.svg");
  width: 100%;
  // background-repeat:no-repeat;
  // background-position:center center;
  // background-size:cover;
  height: 100%;
  position: relative;
}

.cursor-pointer {
  cursor: pointer;
}